@import url('https://fonts.googleapis.com/css2?family=Genos:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Genos&display=swap');

* {
    margin: 0;
}

.background-img {
    width: 100vw;
    height: auto;
    position: relative;
    z-index: 50;
}

.background-img img {
    width: 100vw;
}

.main-outer {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: white;
}

.nav-outer {
    top: 0;
    position: absolute;
    position: fixed;
    height: 6vw;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    background-color: black;
    border-radius: 0 0 2vw 2vw;
}

.nav-logo-outer {
    width: 20vw;
    height: 100%;
    display: flex;
    justify-content: center;
}

.nav-logo-outer img {
    height: auto;
    width: 8vw;
    padding: 0.5vw;
}

.nav-content-outer {
    width: 80vw;
    height: 100%;
    justify-content: flex-end;
}

.nav-content-inner {
    display: flex;
    height: 100%;
    width: 80vw;
    display: flex;
    justify-content: flex-end;
}

.nav-element {
    width: 12vw;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center !important;
    text-align: center;
    font-size: 2vw;
    font-family: 'Genos', sans-serif;
}

.items {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.items:after {
    content: '';
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
    border: 0.1vw solid white;
    opacity: 0;
    transition: opacity 0.35s, transform 0.35s;
    transform: scale(0, 1);
}

.items:hover:after {
    opacity: 1;
    transform: scale(1);
}

.line {
    width: 50vw;
    height: 0.2vw;
    margin-top: 5vw;
    background-color: white;
    border-radius: 100%;
    background: linear-gradient(90deg, #ffffff 0%, #717171 30%, #000000 67%, #ffffff 100%);
    background-size: 1000%;
    animation: background 4s linear alternate infinite;
}

@keyframes background {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 100% 0;
    }
}

.about-content-outer {
    width: 100vw;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.aboutus-outer {
    width: 100vw;
    height: 40vw;
    display: flex;
    font-size: 1vw;
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
    align-items: center;
    justify-content: center;
}

.content1-outer {
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content1-title {
    width: 35vw;
    text-align: right;
    font-size: 4vw;
    font-weight: bold;
}

.content1-inner {
    width: 35vw;
    text-align: justify;
}

.content1-img-outer {
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content1-img-outer img {
    width: 40vw;
    border-radius: 2vw;
    transform: scale(1);
    transition: all 0.3s ease-in-out;
}

.owner-outer {
    width: 100vw;
    height: 40vw;
    display: flex;
    font-size: 1vw;
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
    align-items: center;
    justify-content: center;
}

.content2-outer {
    font-family: 'Comfortaa', cursive;
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content2-img-outer {
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content2-img-outer img {
    width: 40vw;
    border-radius: 2vw;
    transform: scale(1);
    transition: all 0.3s ease-in-out;
}

.owner-outer:hover .content2-img-outer img {
    transform: scale(1.05);
}

.aboutus-outer:hover .content1-img-outer img {
    transform: scale(1.05);
}

.content2-title {
    width: 35vw;
    text-align: left;
    font-size: 4vw;
    font-weight: bold;
}

.content2-inner {
    width: 35vw;
    text-align: justify;
}

.footer-outer {
    width: 100vw;
    height: 11vw;
    display: flex;
    background-color: black;
    color: white;
    align-items: center;
    justify-content: center;
}

.footer-inner {
    position: relative;
    left: 5vw;
    width: 20vw;
}

.contactus-outer {
    font-size: 3vw;
    font-weight: bold;
    font-family: 'Genos', sans-serif;
}

.address-outer {
    font-size: 1vw;
    font-weight: bold;
    font-family: 'Genos', sans-serif;
}

.icons {
    font-size: 2vw;
    padding-right: 0.5vw;
    padding-top: 0.5vw;
}

.footer-logo {
    width: 10vw;
}

.footer-img-logo {
    width: 10vw;
}

/* =============== */


/* =============== */